In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as py

In [2]:
pwd = os.getcwd()

In [3]:
dataset = pd.read_csv(pwd + "/Data - vgsales.csv")

In [4]:
dataset_modified = dataset.head(100)
dataset_modified

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
1,545,Missile Command,2600,1980.0,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
2,1768,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.00,0.01,1.15
3,1971,Defender,2600,1980.0,Misc,Atari,0.99,0.05,0.00,0.01,1.05
4,2671,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...,...,...
95,1811,Donkey Kong,NES,1983.0,Platform,Nintendo,0.23,0.05,0.84,0.01,1.13
96,1841,Donkey Kong Jr.,NES,1983.0,Platform,Nintendo,0.33,0.07,0.70,0.01,1.11
97,1863,Popeye,NES,1983.0,Platform,Nintendo,0.51,0.12,0.45,0.02,1.10
98,2654,Jr. Pac-Man,2600,1983.0,Puzzle,Atari,0.72,0.05,0.00,0.01,0.78
99,2674,Crystal Castles,2600,1983.0,Action,Atari,0.72,0.04,0.00,0.01,0.77

In [5]:
dataset_modified.groupby("Publisher").count().sort_values("Rank", ascending=False)

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,,,,,,
Atari,31,31,31,31,31,31,31,31,31,31
Activision,16,16,16,16,16,16,16,16,16,16
Mattel Interactive,8,8,8,8,8,8,8,8,8,8
Nintendo,6,6,6,6,6,6,6,6,6,6
Coleco,5,5,5,5,5,5,5,5,5,5
Parker Bros.,5,5,5,5,5,5,5,5,5,5
20th Century Fox Video Games,5,5,5,5,5,5,5,5,5,5
Imagic,4,4,4,4,4,4,4,4,4,4
Tigervision,3,3,3,3,3,3,3,3,3,3
Data Age,2,2,2,2,2,2,2,2,2,2
CPG Products,1,1,1,1,1,1,1,1,1,1
Quelle,1,1,1,1,1,1,1,1,1,1
Unknown,1,1,1,1,1,1,1,1,1,1
Universal Gamex,1,1,1,1,1,1,1,1,1,1
Taito,1,1,1,1,1,1,1,1,1,1
Starpath Corp.,1,1,1,1,1,1,1,1,1,1
Sega,1,1,1,1,1,1,1,1,1,1
Answer Software,1,1,1,1,1,1,1,1,1,1
CBS Electronics,1,1,1,1,1,1,1,1,1,1
Avalon Interactive,1,1,1,1,1,1,1,1,1,1
Mystique,1,1,1,1,1,1,1,1,1,1
Men-A-Vision,1,1,1,1,1,1,1,1,1,1
Bomb,1,1,1,1,1,1,1,1,1,1
ITT Family Games,1,1,1,1,1,1,1,1,1,1
Wizard Video Games,1,1,1,1,1,1,1,1,1,1

In [6]:
dataset_two = dataset.copy()
dataset.astype({"Year":int})

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer